{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    {% tailwind_css %}
  </head>
  <body>
    {% include 'partials/header.html' %}
    <section class="relative container flex flex-col mx-auto items-center">
      <h1 class="font-bold my-10">Create a new category</h1>
      <form
        class="flex flex-col items-center"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-4 rounded"
          type="submit"
          value="Submit"
        >
          Save
        </button>
      </form>
    </section>
  </body>
</html>
