{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    {% tailwind_css %}
  </head>
  <body>
    {% include 'partials/header.html' %}
    <section
      class="mx-auto container flex flex-col items-center justify-center"
    >
      <h1 class="text-xl font-bold">{{category.name}}</h1>
      <div class="w-full flex justify-evenly my-8">
        <form action="/category/{{category.id}}/delete" method="POST">
          {% csrf_token %}
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Delete this category
          </button>
        </form>
        <a
          href="/category/{{category.id}}/update"
          class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
        >
          Update this category
        </a>
      </div>
      <div class="flex flex-wrap justify-evenly items-center w-full">
        {% for product in products %}
        <a
          href="/product/{{ product.id }}"
          class="lg:w-1/5 md:w-1/2 p-4 m-4 w-full"
        >
          <div class="block relative h-48 rounded overflow-hidden">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="{{product.image_url}}"
            />
          </div>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              {{product.category}}
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">
              {{product.name}}
            </h2>
            <p class="mt-1">${{product.price}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
